<h1>xv</h1>
<h1>create survey</h1>



<h1>Survey Questions</h1>

<ol>
  <li><a id="add_question" href="/users/<%= @user.id %>/surveys/<%= @survey.id %>/questions">add question</a></li>
  <a href="/users/<%= @user.id %>/surveys/<%= @survey.id %>/questions/:id/choices">add_choice</a>

</ol>

<div id="questions-container">
  <div id="choice-container">

  </div>
</div>
<!-- <form id='question' action='/users/<%= @user.id %>/surveys/questions' method="post">
  <input type='text' name='content' placeholder='content'>
  <input type= 'submit' value='add question'>
</form>
 -->


