<h1>xv</h1>
<h1>create survey</h1>



<h1>Survey Questions</h1>

<ol>
  <li><a id="add_question" href="/users/<%= @user.id %>/surveys/<%= @survey.id %>/questions">add question</a></li>

</ol>
<form id='question' action='/users/<%= @user.id %>/surveys/questions' method="post">
<div id="questions-container">
<ol>
  <% @questions.each do |question| %>
    <li id="<%=question.id  %>"><%= question.content %></li>

  <% end %>
</ol>
</div>




<!--   <input type='text' name='content' placeholder='content'>
  <input type= 'submit' value='add question'> -->
</form>



